target
.idea
.idea_modules
.bloop
.bsp
.metals
/.classpath
/.project
/.settings
/RUNNING_PID
/out/
*.iws
*.iml
/db
.eclipse
/lib/
/logs/
/modules
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/reference
local.conf
/logs
**/plugins/*.jar
node_modules
